@font-face {
	font-family: monfem;
	src: url(../fonts/monfem.ttf);
}

@font-face {
	font-family: raleway;
	src: url(../fonts/raleway.ttf);
}

@font-face {
	font-family: fa-brands;
	src: url(../fonts/fa-brands.ttf);
}

@font-face {
  font-family: fa-solid;
  src: url(../fonts/fa-solid.ttf);
}

body {
	background: #1c1f0c url(../images/ferns.webp) no-repeat center center fixed; /* image uploaded by @sebastians at pexels.com */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  color: #e8e3e3;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.name {
	font-family: 'monfem';
	font-size: 160px;
	margin: 0px;
}

.pronouns {
	font-family: 'raleway';
	font-size: 24px;
	margin: 0px;
}

.socials {
	font-family: 'fa-brands', 'fa-solid';
	margin-left: 12px;
	margin-right: 12px;
	font-size: 36px;
}

a {
	text-decoration: none;
  color: #e8e3e3;
}

a:hover {
	color: #8c977d;
	transition:color 0.2s;
}
