body {
	background: #151515 url(../images/ferns.webp) no-repeat center center fixed; /* image uploaded by @sebastians at pexels.com */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  color: #e8e3e3;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.name img {
  width: 264px;
  margin: 12px;
  filter: invert(100%);
}

.socials img {
  margin: 12px;
  width: 36px;
  filter: invert(100%);
}
