@font-face {
	font-family: raleway;
	src: url(fonts/raleway.ttf);
}

body {
	background: #1c1f0c;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.fourohfour {
	font-family: 'raleway';
	font-size: 48px;
	color: white;
	margin: 0px;
}