@font-face {
	font-family: monfem;
	src: url(fonts/monfem.ttf);
}

@font-face {
	font-family: raleway;
	src: url(fonts/raleway.ttf);
}

@font-face {
	font-family: fa;
	src: url(fonts/fa.ttf);
}

body {
	background: #1c1f0c url(images/ferns.webp) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.name {
	font-family: 'monfem';
	font-size: 160px;
	color: white;
	margin: -20px;
}

.pronouns {
	font-family: 'raleway';
	font-size: 24px;
	color: white;
	margin: 0px;
}

.socials {
	font-family: 'fa';
	margin-left: 12px;
	margin-right: 12px;
	font-size: 36px;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}